<!-- footer.html -->
<footer class="bg-light text-center text-lg-start mt-5 pt-3">
    <div class="container p-0">
        <!-- Row with 4 columns for different sections -->
        <div class="row">
            <!-- About Section -->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">About Us</h5>
                <p>
                    Elice Cloud Track team5 - jung siwon, kim jeonghak, kim yeongchul
                </p>
            </div>

            <!-- Links Section -->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Quick Links</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="/board/list" class="text-dark">Home</a></li>
                </ul>
            </div>

            <!-- Resources or Blog Section -->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Resources</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.notion.so/elice-track/1232bb98425780fdb30bfda7a8c755f4?p=1232bb98425780e7a7b1ce8eb54108c2&pm=s" class="text-dark">Notion</a></li>
                    <li><a href="https://kdt-gitlab.elice.io/cloud_track/class_05/web_project1/team05/main" class="text-dark">GitLab</a></li>
                </ul>
            </div>

            <!-- Contact Information Section -->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contact</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-envelope"></i> test@example.com</li>
                    <li><i class="fas fa-phone"></i> +82 010 1234 5678</li>
                    <li><i class="fas fa-map-marker-alt"></i> 123 Main St, seoul, korea</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Copyright Section -->
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
        &copy; elice.io
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="/js/navbar.js"></script>
</footer>

