/* navbar.css */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  justify-content: flex-end;
  padding-right: 20px;
  z-index: 1000;
}

.container {
  margin-top: 60px; /* 네비게이션 바에 가려지지 않도록 여백 추가 */
}